<!DOCTYPE html>
<html lang="en" data-framework="typescript react">

<head>
  <meta charset="utf-8">
  <title>该吃番茄了</title>

  <link rel="stylesheet" href="../node_modules/todomvc-app-css/index.css">
  <link rel="stylesheet" href="../statics/font-awesome-4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../statics/css/menu.css">
</head>

<body>
  <menu class="menu">
    <ul class="menu-list"> 
      <li class="item">
        <i class="fa fa-list"></i>
      </li>
      <li class="item">
        <i class="fa fa-history"></i>
      </li>
      <li class="item">
        <i class="fa fa-cogs"></i>
      </li>
    </ul>
  </menu>
  <section class="todoapp"></section>
  <footer class="info">
    <p>双击以编辑需要吃掉的番茄</p>
    <p>
      Created by
      <a href="http://github.com/baoziv587/">gaoxiang</a>
    </p>

    <p><a href="http://todomvc.com">Thanks for open srouce</a></p>
  </footer>
  <script type="text/javascript" src="../node_modules/classnames/index.js"></script>
  <script type="text/javascript" src="../node_modules/director/build/director.js"></script>

  <script type="text/javascript" src="../node_modules/react/dist/react-with-addons.js"></script>
  <script type="text/javascript" src="../node_modules/react-dom/dist/react-dom.min.js"></script>
  <script type="text/javascript" src="../node_modules/requirejs/require.js" data-main='../app/main-amd'  ></script>
</body>

</html>