<!DOCTYPE html>
<html lang="en" data-framework="typescript">
<head>
    <meta charset="utf-8">
    <title>该吃番茄了</title>

    <link rel="stylesheet"
          href="../node_modules/todomvc-app-css/index.css">

</head>
<body>
<section class="todoapp"></section>
<footer class="info">
    <p>Double-click to edit a todo</p>

    <p>
        Created by
        <a href="http://github.com/baoziv587/">gaoxiang</a>
    </p>

    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<script type="text/javascript" src="../node_modules/classnames/index.js"></script>
<script type="text/javascript" src="../node_modules/director/build/director.js"></script>

<script type="text/javascript" src="../node_modules/react/dist/react-with-addons.min.js"></script>
<script type="text/javascript" src="../node_modules/react-dom/dist/react-dom.min.js"></script>
<script type="text/javascript" src="../app/todo/constants.js"></script>
<script type="text/javascript" src="../app/todo/utils.js"></script>
<script type="text/javascript" src="../app/todo/todoModel.js"></script>
<script type="text/javascript" src="../app/todo/todoItem.js"></script>
<script type="text/javascript" src="../app/todo/footer.js"></script>
<script type="text/javascript" src="../app/todo/app.js"></script>

</body>
</html>