/*red #FF004B*  green #1bbc9b*/  


.menu{
  position: fixed;
  left:0px;
  top:0px;
  background-color:#1bbc9b;
  padding:1rem;
  height: 100vh;
  margin:0px;
  z-index:999;
}
.menu-list{
  padding: 0px;
}
.menu-list .item{
  
  list-style: none;
  margin-bottom:2.8rem;
}

.item i {
  cursor:pointer;
}

.item i::before{
  color:#fff;
}
/*timeTracker*/

.timeTracker{
  padding:2rem;
  border-bottom:1px solid #ededed;
}




.timeTracker li{
  list-style: none;
  float:left;
  margin-right:8rem;
}

.timeTracker .infinite{
  position: relative;
  left:-1rem;
}

.timeTracker .infinite i::before{
  color:#1bbc9b;
}

.timeTracker .start{
  margin:0;
  float:right; 
  cursor:pointer;
  /*dd*/
}
.timeTracker .start i::before{
  color:#1bbc9b;
}


.timer {
  top: -2rem;
  position: relative;
  font-size: 1.5rem;  
}

.timer .min,
.timer .spliter,
.timer .sec{
  color: #1bbc9b;
}

.unDisplay{
  display: none;
}

/*transition css*/
.transition{
  -webkit-transition: all linear 0.5s ;
  -moz-transition: all linear 0.5s ;
  transition: all linear  0.5s;
}
.fadeIn{
    opacity: 1
}

.fadeOut{
  opacity: 0;
}

